# Copy this file to .env and update values for your environment

# Django
SECRET_KEY=change-me
DEBUG=True
DJANGO_ENV=development
ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres
POSTGRES_DB=byte_mtaani
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (optional)
REDIS_URL=redis://redis:6379/1

# Docker compose helper
DOCKER_COMPOSE=1

# Gunicorn workers (prod)
GUNICORN_WORKERS=3
